<form id="api-form" action="{{ form_action }}" method="post">{% csrf_token %}
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <tbody>
        {% for form_row in form_data %}
            <tr id="{{ form_row.attribute }}_table_row">
                <td>{{ form_row.translation }}</td>
                <td>
                    {% if form_row.settings.html_input_type == 'radio' %}
                        <fieldset>
                            {% for radio_row in form_row.values %}
                                <input type="{{ form_row.settings.html_input_type }}"
                                       id="{{ form_row.attribute }}_radio_{{ radio_row.value }}"
                                       name="{{ form_row.attribute }}" value="{{ radio_row.value }}"
                                       {% if form_row.settings.default_value == radio_row.value %}checked{% endif %}>
                                <label for="{{ form_row.attribute }}_radio_{{ radio_row.value }}"> {{ radio_row.name }}</label>
                            {% endfor %}
                        </fieldset>
                    {% elif form_row.settings.html_input_type == 'select' %}
                        <select name="{{ form_row.attribute }}">
                            {% for option_row in form_row.values %}
                                <option id="{{ form_row.attribute }}_option_{{ option_row.value }}" {% if form_row.settings.default_value == option_row.value %}selected{% endif %}>{{ option_row.name }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="{{ form_row.settings.html_input_type }}" name="{{ form_row.attribute }}"
                               value="{% if not form_row.settings.default_value == None %}{{ form_row.settings.default_value }}{% endif %}">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>