{% extends 'django_template_limitless/base.html' %}
{% load static %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_trunks').DataTable({
                pageLength: 10,
                order: [[0, "asc"]]
            });
        });

        $(document).on('hidden', "#modal-content", function(){
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function(){
            var target = $(this).attr("href");

            $.get(target, function(data){
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
{% endblock %}

{% block heading-elements %}
    <br>
    <a href="/telephony/add_trunk" class="btn bg-blue float-right mx-1" data-toggle="modal"
       data-target="#modal">New Trunk</a>
    <br>
{% endblock %}

{% block content %}
    <table id="all_trunks" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>REF</th>
            <th>TRUNK ID</th>
            <th>CUSTOMER</th>
            <th>CID</th>
            <th>SUSPEND</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <tbody>
        {% for trunk in all_trunks %}
            <tr>
                <td>{{ trunk.id }}</td>
                <td>{{ trunk.reference_code }}</td>
                <td>{{ trunk.trunk_name }}</td>
                <td>{{ trunk.customer.name }}</td>
                <td>{{ trunk.customer.external_id }}</td>
                <td><a href="/telephony/suspend_trunk?transact_referenceno_partner={{ number.reference_code }}"
                       data-toggle="modal"
                       data-target="#modal"><b><i class="icon-phone-slash"></i></b></a>
                </td>
                <td><a href="/telephony/edit_trunk?transact_referenceno_partner={{ number.reference_code }}"
                       data-toggle="modal"
                       data-target="#modal"><b><i class="icon-database-edit2"></i></b></a>
                </td>
                <td><a href="/telephony/del_trunk?transact_referenceno_partner={{ number.reference_code }}"
                       data-toggle="modal"
                       data-target="#modal"><b><i class="icon-trash"></i></b></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}