{% extends 'django_template_limitless/base.html' %}
{% load static %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_cpe').DataTable({
                pageLength: 10,
                order: [[0, "asc"]]
            });
        });

        $(document).on('hidden', "#modal-content", function(){
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function(){
            var target = $(this).attr("href");

            $.get(target, function(data){
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
{% endblock %}

{% block heading-elements %}
    <br>
    <a href="/access/add_cpe" class="btn bg-blue float-right mx-1" data-toggle="modal"
       data-target="#modal">New CPE</a>
    <br>
{% endblock %}

{% block content %}
    <table id="all_cpe" class="table table-striped table-bordered nowrap">
        <thead>
        <tr>
            <th>ID</th>
            <th>REF</th>
            <th>CUSTOMER</th>
            <th>CID</th>
            <th>HOSTED BY</th>
            <th>EXT-ID</th>
            <th>PRODUCT</th>
            <th>AUTH</th>
            <th>EDIT</th>
            <th>CANCEL</th>
        </tr>
        </thead>
        <tbody>
        {% for cpe in all_cpe %}
            <tr>
                <td>{{ cpe.id }}</td>
                <td>{{ cpe.contract_nr }}</td>
                <td>{{ cpe.customer.name }}</td>
                <td>{{ cpe.customer.external_id }}</td>
                <td>{{ cpe.product.carrier.name }}</td>
                <td>{{ cpe.carrier_contract_nr }}</td>
                <td>{{ cpe.product.subproduct.name }}</td>
                <td><a href="/access/edit_cpe_auth?transact_referenceno_partner={{ cpe.contract_nr }}" data-toggle="modal"
                       data-target="#modal"><b><i class="icon-key"></i></b></a>
                </td>
                <td><a href="/access/edit_cpe?transact_referenceno_partner={{ cpe.contract_nr }}" data-toggle="modal"
                       data-target="#modal"><b><i class="icon-database-edit2"></i></b></a>
                </td>
                <td><a href="/access/cancel_cpe?transact_referenceno_partner={{ cpe.contract_nr }}" data-toggle="modal"
                       data-target="#modal"><b><i class="icon-trash"></i></b></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}