{% extends 'django_template_limitless/base.html' %}
{% load static %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_numbers').DataTable({
                pageLength: 10,
                order: [[0, "asc"]]
            });
        });

        $(document).on('hidden', "#modal-content", function(){
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function(){
            var target = $(this).attr("href");

            $.get(target, function(data){
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
{% endblock %}

{% block heading-elements %}
    <br>
    <a href="/telephony/add_number" class="btn bg-blue float-right mx-1" data-toggle="modal"
       data-target="#modal">New Number</a>
    <a href="/telephony/add_block_number" class="btn bg-blue float-right mx-1" data-toggle="modal"
       data-target="#modal">New Block</a>
    <a href="/telephony/port_number" class="btn bg-blue float-right mx-1" data-toggle="modal"
       data-target="#modal">Port Number</a>
    <a href="/telephony/port_block_number" class="btn bg-blue float-right mx-1" data-toggle="modal"
       data-target="#modal">Port Block Number</a>
    <br>
{% endblock %}

{% block content %}
    <table id="all_numbers" class="table table-striped table-bordered nowrap">
        <thead>
        <tr>
            <th>ID</th>
            <th>REF</th>
            <th>INT</th>
            <th>NAT</th>
            <th>SUBSCRIBER</th>
            <th>TYPE</th>
            <th>START</th>
            <th>END</th>
            <th>CUSTOMER</th>
            <th>CID</th>
            <th>PORTING</th>
            <th>CANCEL</th>
        </tr>
        </thead>
        <tbody>
        {% for number in all_numbers %}
            <tr>
                <td>{{ number.id }}</td>
                <td>{{ number.reference_code }}</td>
                <td>{{ number.country_code }}</td>
                <td>{{ number.national_code }}</td>
                <td>{{ number.subscriber_num }}</td>
                <td>{% if number.num_type == 0 %}SINGLE{% else %}BLOCK{% endif %}</td>
                <td>{% if not number.num_type == 0 %}{{ number.range_start }}{% endif %}</td>
                <td>{% if not number.num_type == 0 %}{{ number.range_end }}{% endif %}</td>
                <td>{{ number.customer.name }}</td>
                <td>{{ number.customer.external_id }}</td>
                <td><a href="/telephony/publish_wbci_outgoing?transact_referenceno_partner={{ number.reference_code }}&tel_num_accountid={{ number.account_id }}&voip_quantity={{ number.block_size }}" data-toggle="modal"
                       data-target="#modal"><b><i class="icon-drawer-out"></i></b></a>
                </td>
                <td><a href="/telephony/cancel_number?transact_referenceno_partner={{ number.reference_code }}" data-toggle="modal"
                       data-target="#modal"><b><i class="icon-phone-slash"></i></b></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}