{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}

{% block customjs %}
    <script type="text/javascript" class="init">
        $("#modal-save").on("click", function () {
            $("#api-form").submit();
        });

        $(document).ready(function () {
            // By default hide action_id
            $("#action_id_table_row").hide();
            // By default disable person fields
            $("#inst_pers_sal_table_row").hide();
            $("#inst_pers_fn_table_row").hide();
            $("#inst_pers_ln_table_row").hide();
            $("#inst_company_table_row").show();
        });

        // Disable radio buttons function on Check Disable radio button.
        $('#person_or_company_radio_1').click(function () {
            if ($('#person_or_company_radio_1').is(':checked')) {
                $("#inst_pers_sal_table_row").show();
                $("#inst_pers_fn_table_row").show();
                $("#inst_pers_ln_table_row").show();
                $("#inst_company_table_row").hide();
            } else {
                $("#inst_pers_sal_table_row").hide();
                $("#inst_pers_fn_table_row").hide();
                $("#inst_pers_ln_table_row").hide();
                $("#inst_company_table_row").show();
            }
        });

        // Disable radio buttons function on Check Disable radio button.
        $('#person_or_company_radio_0').click(function () {
            if ($('#person_or_company_radio_0').is(':checked')) {
                $("#inst_pers_sal_table_row").hide();
                $("#inst_pers_fn_table_row").hide();
                $("#inst_pers_ln_table_row").hide();
                $("#inst_company_table_row").show();
            } else {
                $("#inst_pers_sal_table_row").show();
                $("#inst_pers_fn_table_row").show();
                $("#inst_pers_ln_table_row").show();
                $("#inst_company_table_row").hide();
            }
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include "django_ispstack_admin/api_based_form.html" %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="modal-save" type="button" class="btn btn-primary">Save</button>
    </div>
{% endblock %}